body{
  margin: 0; 
	padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; 
}
.dropdown:hover>.dropdown-menu{
	display : block;
	width: 10px;
	
}
.dropdown:hover>.dropdown-menu.a{
	color: red;
}
.footer{
  padding-bottom: 30px;
  padding-top: 20px;
}
.jumbotron{
	background-color: #dbcc8f;
}
.produk{
  margin-bottom: 10px;
}
.nav{
  background-color: white;

}
.navbar li a{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #343A40;
  margin-left: 30px;
  /*font-size: 90%;*/
}